<app-toolbar>
	<span slot-menu>
		<button mat-menu-item [disabled]="selectedCategoryName" (click)="onAddCategory()">
			<mat-icon>add</mat-icon>
			<span>{{'TOOLBAR.ADD' | translate}}</span>
		</button>
		<button mat-menu-item [disabled]="!selectedCategoryName" (click)="onEditCategory()">
			<mat-icon>edit</mat-icon>
			<span>{{'TOOLBAR.EDIT' | translate}}</span>
		</button>
		<button mat-menu-item [disabled]="!selectedCategoryName" (click)="onDeleteCategory()">
			<mat-icon>delete</mat-icon>
			<span>{{'TOOLBAR.DELETE' | translate}}</span>
		</button>
	</span>
	<span slot-title>
		{{'CATEGORIES_LIST.TITLE' | translate}}
	</span>
</app-toolbar>


<mat-list role="list">
	<mat-list-item role="listitem" *ngFor="let category of categories$ | async">
		<mat-radio-button color="primary" [value]="category.categoryName" (change)="onSelectionChange($event)">
			{{category.categoryName}}
		</mat-radio-button>
		<mat-divider></mat-divider>
	</mat-list-item>

</mat-list>