agm-map {
    width: 100%;
}

mat-card {
    height: calc(100% - 130px);
    margin: 20px;
}

.location-view-container {
    height: 100%;

    .location-view-item {
        margin-bottom: 5px;
    }
}