<app-toolbar>
    <span slot-menu>
        <button mat-menu-item [disabled]="true">
            <mat-icon>add</mat-icon>
            <span>{{'TOOLBAR.ADD' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onEditLocation()">
            <mat-icon>edit</mat-icon>
            <span>{{'TOOLBAR.EDIT' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onDeleteLocation()">
            <mat-icon>delete</mat-icon>
            <span>{{'TOOLBAR.DELETE' | translate}}</span>
        </button>
    </span>
    <span slot-title>
        {{locationName}}
    </span>
</app-toolbar>

<div class="location-view-container" fxLayout="column" fxLayoutAlign="start stretch">

    <div fxFlex="0 0 7%" fxLayout="column wrap">
        <div>
            {{'LOCATION_VIEW.NAME_LABEL' | translate}} {{location.name}}
        </div>

        <div>
            {{'LOCATION_VIEW.ADDRESS_LABEL' | translate}} {{location.address}}
        </div>

        <div>
            {{'LOCATION_VIEW.CATEGORY_LABEL' | translate}} {{location.category}}
        </div>

    </div>


    <agm-map fxFlex="0 0 93%" style="height: 100%" [latitude]='latitude' [longitude]='longitude'>
        <agm-marker [latitude]='latitude' [longitude]='longitude' [markerDraggable]='true'>
        </agm-marker>
    </agm-map>
</div>