<app-toolbar>
    <span slot-menu>
        <button mat-menu-item [disabled]="true">
            <mat-icon>add</mat-icon>
            <span>{{'TOOLBAR.ADD' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onEditLocation()">
            <mat-icon>edit</mat-icon>
            <span>{{'TOOLBAR.EDIT' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onDeleteLocation()">
            <mat-icon>delete</mat-icon>
            <span>{{'TOOLBAR.DELETE' | translate}}</span>
        </button>
    </span>
    <span slot-title>
        {{locationName}}
    </span>
</app-toolbar>

<!-- <div class="location-view-container" fxLayout="column" fxLayoutAlign="start stretch"> -->
<mat-card>
    <div class="location-view-container" fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="column wrap">
            <div class="location-view-item">
                {{'LOCATION_VIEW.NAME_LABEL' | translate}} {{location.name}}
            </div>

            <div class="location-view-item">
                {{'LOCATION_VIEW.ADDRESS_LABEL' | translate}} {{location.address}}
            </div>

            <div class="location-view-item">
                {{'LOCATION_VIEW.CATEGORY_LABEL' | translate}} {{location.category}}
            </div>

        </div>


        <agm-map style="height: 100%" [latitude]='coordinate.lat' [longitude]='coordinate.lng'>
            <agm-marker [latitude]='coordinate.lat' [longitude]='coordinate.lng' [markerDraggable]='true'>
            </agm-marker>
        </agm-map>

    </div>

</mat-card>
<!-- </div> -->