<mat-toolbar color="primary">

    <mat-toolbar color="primary">

        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-evenly stretch">

            <button (click)="goToCategories()" fxFlex mat-button>
                <mat-icon>category</mat-icon>
                <span>{{categoriesText}}</span>
            </button>
            <button (click)="goToLocations()" fxFlex mat-button>
                <mat-icon>location_city</mat-icon>
                <span>{{locationsText}}</span>
            </button>

        </mat-toolbar-row>
    </mat-toolbar>