<mat-toolbar color="primary">

	<mat-toolbar-row>

		<mat-menu #menu="matMenu">
			<button mat-menu-item [disabled]="isAddDisabled" (click)="onAdd()"> 
				<mat-icon>add</mat-icon>
				<span>{{'TOOLBAR.ADD' | translate}}</span>
			</button>
			<button mat-menu-item [disabled]="isEditDisabled" (click)="onEdit()">
				<mat-icon>edit</mat-icon>
				<span>{{'TOOLBAR.EDIT' | translate}}</span>
			</button>
			<button mat-menu-item [disabled]="isDeleteDisabled" (click)="onDelete()">
				<mat-icon>delete</mat-icon>
				<span>{{'TOOLBAR.DELETE' | translate}}</span>
			</button>
		</mat-menu>
		<div fxLayoutAlign="start center" fxFlex="1 1 95%" >{{title}} </div>
		<button fxFlex="1 1 auto" fxLayoutAlign="end start" mat-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>