<mat-toolbar color="primary">

	<mat-toolbar-row fxFlex>

		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="onAddDialog()" [disabled]="isAddDisabled">
				<mat-icon>add</mat-icon>
				<span>{{menuAddCategory}}</span>
			</button>
			<button mat-menu-item [disabled]="isEditDisabled" (click)="onEditDialog()">
				<mat-icon>edit</mat-icon>
				<span>{{menuEditCategory}}</span>
			</button>
			<button mat-menu-item [disabled]="isDeleteDisabled" (click)="onDeleteDialog()">
				<mat-icon>delete</mat-icon>
				<span>{{menuDeleteCategory}}</span>
			</button>
		</mat-menu>
		<div fxLayoutAlign="start center" fxFlex="1 1 95%" >{{title}} </div>
		<button fxFlex="1 1 auto" fxLayoutAlign="end start" mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
			<mat-icon>more_vert</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>