<app-toolbar>
	<span slot-menu>
		<button mat-menu-item [disabled]="true"> 
			<mat-icon>add</mat-icon>
			<span>{{'TOOLBAR.ADD' | translate}}</span>
		</button>
		<button mat-menu-item (click)="onEditLocation()">
			<mat-icon>edit</mat-icon>
			<span>{{'TOOLBAR.EDIT' | translate}}</span>
		</button>
		<button mat-menu-item (click)="onDeleteLocation()">
			<mat-icon>delete</mat-icon>
			<span>{{'TOOLBAR.DELETE' | translate}}</span>
		</button>
    </span>
    <span slot-title>
        {{locationName}}
    </span>
</app-toolbar>
<div class="location-view-container">
    <div fxLayout="column" fxLayoutAlign="start start">
        <label>
            {{'LOCATION_VIEW.NAME_LABEL' | translate}} {{location.name}}
        </label>

        <label>
            {{'LOCATION_VIEW.ADDRESS_LABEL' | translate}} {{location.address}}
        </label>

        <label>
            {{'LOCATION_VIEW.CATEGORY_LABEL' | translate}} {{location.category}}
        </label>

        <agm-map [latitude]='latitude' [longitude]='longitude'>
            <agm-marker [latitude]='latitude' [longitude]='longitude' [markerDraggable]='true'>
            </agm-marker>
        </agm-map>
    </div>

</div>