mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

.location-list-container {
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 10px;
}

mat-slide-toggle {
    margin-bottom: 10px;
}